.contact{
    height: 40vh;
    overflow: hidden;
    border-radius: 1% 99% 0% 100% / 100% 3% 97% 0% ;
    background-color: var(--primarycolor);
    width: 100vw;
    border-radius: 100% 0% 100% 0% / 4% 96% 4% 96% ;
    h2{
        color: var(--secondarycolor);
        text-align: center;
        margin-top: 50px;
        -webkit-filter: drop-shadow( 3px 3px 40px rgb(255, 255, 255));
        filter: drop-shadow( 3px 3px 40px rgb(255, 255, 255));
    }
    form{
        overflow: hidden;
        *{
            box-sizing:border-box;
            color: var(--secondarycolor);
            background: transparent;
            border: solid 1px var(--secondarycolor);
            padding: 10px;
            margin-top: 10px;
        }
        *:focus {
            outline: none;
        }
        margin: 20px auto;
        width: 90%;
        input{
            width: 100%;
        }
        textarea{
            resize: none;
            width: 100%;
            height: 350px;
        }
        #submit{
            transition: 0.3s;
            margin-bottom: 50px;
            &:hover{
                color: var(--primarycolor);
                top: -10px;
                cursor: pointer;
                background: var(--secondarycolor);
            }
        }
    }
}
.formcontent{
    pointer-events: none;
    position: absolute;
    width: 100vw;
    *{
        pointer-events: auto;
    }
}