.footer{
    clip-path: ellipse(156% 100% at 38.34% 100%);
    margin-top: -1.6em;
    padding: 2em;
    color: white;
    text-align: center;
    height: 20vh;
    background: rgb(0, 0, 0);
    h4{
        filter: brightness(50%);       
        margin-bottom: 0.5em;
    }
    h5{
        filter: brightness(50%);       
    }
    ul{
        display: inline-block;
        margin: 0 auto;
    }
    li{
        width: 30px;
        list-style-type: none;
        float: left;
        margin: 0.6em;
        margin-top: 1em;

    }
    li svg{
        transition: 0.5s;
        filter: brightness(50%);       
        fill: white;
        &:hover{
            cursor: pointer;
            filter: brightness(100%);   
        }
    }
    a{
        filter: brightness(50%);       
        margin-left: 1em;
        margin-right: 1em;
    }
}