.main{
    .content{
        pointer-events: none;
        position: absolute;
        width: 100vw;
        *{
            pointer-events: auto;
        }
    }
    overflow: hidden;
    background-color: var(--primarycolor);
    margin-top: 8vh;
    height: 100vh;
    width: 100vw;
    border-radius: 100% 0% 100% 0% / 0% 96% 4% 100% ;
    h1{
        font-size: 40px;
      margin: 50px 10px 10px;
      text-align: center;
      color: var(--secondarycolor);
    }
    h6{
        margin: 5px 20px;
        color: var(--secondarycolor);
        filter: brightness(50%);
        text-align: center;
        font-size: 15px;
    }
    button{
        overflow: visible;
        margin: 40px auto;
        display: block;
        justify-content: center;
        // &:hover{
        //     cursor: pointer;
        // }
    }
    .connectionphoto{
        margin: 100px auto 100px;
        width: 90%;
        -webkit-filter: drop-shadow( 3px 3px 40px rgba(83, 1, 138, 0.7));
        filter: drop-shadow( 3px 3px 40px rgba(83, 1, 138, 0.7));
    }
}