/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hamburg {
        display: none;
    }
    .menunav {
        box-sizing: border-box;
        display: inline;
        background: transparent;
        width: 365px;
        height: auto;

        margin: 0;
        margin-right: 10px;
        position: absolute;
        top: 50%;
        right: 0px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .closeBtn {
            display: none;
        }
        .menuItems {
            position: static;
            display: inline;
            a {
                text-transform: uppercase;
                float: left;
                display: inline;
                position: static;
                font-size: 18px;
                margin: 10px 10px;
                padding: 0px;
                padding-right: 15px;
                padding-top: 5px;
                &:hover {
                    cursor: pointer;
                    &:after {
                        transform: scaleX(1);
                    }
                }
                &:after {
                    display: block;
                    content: "";
                    border-bottom: solid 3px var(--secondarycolor);
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
            }
        }
    }
    #lastmenuitem {
        border: hidden;
        margin-right: 0px;
        padding-right: 0px;
    }

}

@media only screen and (min-width: 839px) {
    .header {
        border: hidden;
        .logo {
            left: 15.1%;
        }
        .menunav {
            right: 13.5%;
        }
        &:before {
            content: "";
            position: absolute;
            left: 15.1%;
            bottom: 0;
            height: 1px;
            width: 70%;
            border-bottom: 1px solid var(--secondarycolor);
            transition: 0.3s;
        }
        &.hidden::before {
            opacity: 0%;
        }
    }
    .about {
        h1 {
            font-size: 60px;
            margin-top: 80px;
        }
        h2 {
            font-size: 20px;
            margin-left: 100px;
        }
        p {
            text-align: left;
            line-height: 42px;   /* within paragraph */
            font-size: 25px;
            width: 800px;
            margin-bottom: 150px;
        }
    }
    .main{
        h1{
            font-size: 50px;
        }
    }

    .connectionphoto {
        width: 100vh !important;
    }

    .contact{
        text-align: center;
        h2{
            font-size: 40px;
        }
        form{
            width: 50%;
            input, textarea{
                font-size: 20px;
                width: 100%;
            }
            #submit{
                width: 40%;
            }
        }
    }
}
@media only screen and (max-width: 986px) {
    .connectionphoto {
        width: 90% !important;
    }
}
@media only screen and (max-width: 986px) {
    .connectionphoto {
        width: 90% !important;
    }
}
@media only screen and (min-width: 936px) {
    #name{
        width: 50%;
    }
    #email{
        width: 49%;
    }
}