.about{
    color: var(--secondarycolor);
    background: url(../assets/jpg/about2.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: 600px center;   
    width: 100vw;
    h1{
      font-size: 40px;
      margin: 43px 0px 0px 30px ;
      -webkit-filter: drop-shadow( 3px 3px 40px rgb(255, 255, 255));
      filter: drop-shadow( 3px 3px 40px rgb(255, 255, 255));
    }
    h2{
      font-size: 15px;
      margin: 0px 0px 0px 50px ;
    }
    p{
        font-size: 20px;
        margin: 30px 10px 50px 30px ;
        filter: brightness(50%);

    }
}