.aboutthissite {
    color: var(--secondarycolor);
    text-align: center;
    border-radius: 1% 99% 0% 100% / 100% 3% 97% 0%;
    background-color: var(--primarycolor);
    width: 100vw;
    border-radius: 100% 0% 100% 0% / 4% 96% 4% 96%;

    h1 {
        font-size: 40px;
        margin: 20px 20px ;
        -webkit-filter: drop-shadow(3px 3px 40px rgb(255, 255, 255));
        filter: drop-shadow(3px 3px 40px rgb(255, 255, 255));
    }
    p {
        font-size: 20px;
        margin: 20px 20px ;
        filter: brightness(50%);
        
    }
}
