.footer{
    background-color: var(--thirdcolor);
    width: 100vw;
    text-align: center;
    position: relative;
    h4{
       color: var(--secondarycolor);
       text-align: center;
       margin: 30px 10px 10px;
       filter: brightness(60%);
    }
    h5{
        color: var(--secondarycolor);
        text-align: center;
        filter: brightness(60%);
    }
    ul{
        text-align: center;
        display: flex;
        justify-content: center;
        li{
            transition: 0.3s;
            filter: brightness(50%);
            float: right;
            margin: 10px 10px;
            margin-bottom: 0px;
           svg{
               fill: var(--secondarycolor);
               width: 35px;
               
           }
           &:hover{
            cursor: pointer;
            filter: brightness(100%);
        }
        }
    }
    a{
        display: inline-block;
        color: var(--secondarycolor);
        text-align: center;
        margin: 0px 10px 10px;
        filter: brightness(60%);

    }

}
