.menunav{
    transition: 0.2s;
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--thirdcolor);
    position: fixed;
    top: 0;
    .closeBtn{
        width: 37px;
        position: fixed;
        right: 10px;
        top: 10px;
    svg{
        fill: white;
    }
    }
    .menuItems{
        height: 200px;
        width: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        a{
            text-align: center;
            display: block;
            padding: 5px;
            margin: 10px;
            font-size: 30px;
            border-right: solid 1px var(--secondarycolor);
        }
    }
}
